numpy==2.3.5
torch==2.4.1
transformers==4.57.3
accelerate==1.12.0
datasets==4.4.2
sentencepiece==0.2.1
peft==0.18.0
pandas
openai
ipykernel
requests
ollama
jsonschema
#torch-directml
ipynbname
protobuf
huggingface_hub[hf_xet]
bs4
ipywidgets
scikit-learn
typo