#numpy==2.3.5
numpy<2
pandas
openai
ipykernel
requests
# transformers[torch]
# accelerate>=0.26.0
# torch
transformers==4.57.3
accelerate==1.12.0
torch==2.3.1
ollama
jsonschema
torch-directml
ipynbname
protobuf
sentencepiece
datasets
huggingface_hub[hf_xet]
peft
bs4
ipywidgets
scikit-learn
#google-adk
#litellm[all]
typo